<h1>Product id: <%= product.id %> </h1>

<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  </br>
  <div>
    <%= form.submit "Update Product" %>
  </div>
<% end %>