<h1>Products</h1>

<div id="products">


  
  <% @products.each do |product| %>
    <div>
      ID: <%= product.id %>
    </div>
    <div>
      Name of product: <%= product.name %>
    </div>
    <div>
      Created at: <%= product.created_at %>
    </div>
    <div>
      <%= link_to "Show Product", product %>
    </div>
    <% if authenticated?%>
    <div>
      <%= link_to "Edit", edit_product_path(product)%>
    </div>

    <div>
      <%= button_to "Delete", product, method: :delete, data: { turbo_confirm: "Are you sure?" }%>
    </div>
    <% end %>
    </br>
  <% end %>

   <%= link_to "Add a new product", new_product_path %>
</div>