<h1>Products</h1>

<div id="products">


  
  <% @products.each do |product| %>
    <div>
      ID: <%= product.id %>
    </div>
    <div>
      Name of product: <%= product.name %>
    </div>
    <div>
      Created at: <%= product.created_at %>
    </div>
    <div>
      <%= link_to product.name, product %>
    </div>
    </br>
  <% end %>

    <%= link_to "Add a new product", new_product_path %>
</div>